<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_F8P6wrP2R6S7PGKFdUBxinRTmBOptQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>788593824432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pabloboo.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-pabloboo</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-pabloboo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788593824432:ios:6c65f7e98b023780e86175</string>
</dict>
</plist>